on: [push, pull_request]
name: build
jobs:
  fp-ieee:
    name: fp-ieee
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ghc: ['8.6.5', '8.8.4', '8.10.5', '9.0.1']
        os: [ubuntu-latest]
        flags: ['', '--flag fp-ieee:fma3 --flag fp-ieee:f16c', '--flag fp-ieee:float128']
    steps:
      - uses: actions/checkout@v2

      - uses: haskell/actions/setup@v1
        name: Setup Haskell
        with:
          ghc-version: ${{ matrix.ghc }}
          enable-stack: true
          stack-version: 'latest'
          stack-no-global: true
          stack-setup-ghc: true

      - uses: actions/cache@v1
        name: Cache ~/.stack
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ matrix.ghc }}-stack

      - name: Build
        run: stack build fp-ieee --ghc-options=-fno-ignore-asserts --test --no-run-tests --bench --no-run-benchmarks ${{ matrix.flags }}

      - name: Test
        run: stack test fp-ieee ${{ matrix.flags }}

  rounded-hw:
    name: rounded-hw
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ghc: ['8.6.5', '8.8.4', '8.10.5', '9.0.1']
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2

      - uses: haskell/actions/setup@v1
        name: Setup Haskell
        with:
          ghc-version: ${{ matrix.ghc }}
          enable-stack: true
          stack-version: 'latest'
          stack-no-global: true
          stack-setup-ghc: true

      - uses: actions/cache@v1
        name: Cache ~/.stack
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ matrix.ghc }}-stack

      - name: Build
        run: stack build rounded-hw --ghc-options=-fno-ignore-asserts --test --no-run-tests --bench --no-run-benchmarks

      - name: Test
        run: stack test rounded-hw
